
<footer class="mt-5 text-center up">

    <div class="row mentionlegals">

        <div class="col pt-3"><a target="_blank" href="{{path('mentions_legals')}}"><p>Mentions Légales</p></a></div>

    </div>

</footer>
