<footer class="mt-5 text-center up ">


        <a href="https://seal.beyondsecurity.com/vulnerability-scanner-verification/globeboat.fafachena.com"><img class="pt-2" src="https://seal.beyondsecurity.com/verification-images/globeboat.fafachena.com/vulnerability-scanner-2.gif" alt="Website Security Test" border="0"></a>
        <div class="mentionlegals pb-2"><a target="_blank" href="{{path('mentions_legals')}}"><p class="pt-2">Mentions Légales</p></a></div>


</footer>

