<footer class="mt-5 text-center up">

    <div class="row copyright mentionlegals">

        <div class="col pt-3"><a href="{{ path('homepage') }}"><p class="fa fa-copyright"> Copyright GlobeBoat</p></a></div>

        <div class="col pt-3"><a href="{{path('mentions_legals')}}"><p>Mentions Légals</p></a></div>

    </div>

</footer>
