{% extends 'base.html.twig' %}

    {% block title %} Bienvenue sur le meilleur réseau de location de yachts. {% endblock %}

    {% block body %}

        <div class="container">

            <div class="jumbotron mt-3">

                <h1 class="display-3">Bienvenue sur GlobeBoat</h1>

                <p class="lead">Vous êtes un particulier ou une professionnel et vous souhaitez louer un yacht à la journée ou pour plusieurs jours, GlobeBoat met à votre disposition plus de 200 yachts. </p>
                <hr class="my-2">
                <p class="h5">Découvrez sur notre site, notre catalogue de yachts à la location sur toute la côte européene.</p>
                <p class="lead pt-4">
                    <a class="btn btn-primary btn-lg" href="{{ path('ads_index') }}" role="button">Voir nos annonces</a>
                </p>

            </div>

            <h2 class="h1 my-2">Nos yachts stars</h2>

            <div class="bottom-scroll down">
                <div class="scroll-down d-none d-lg-block">
                    <a class="down"  href="#" >
                        <div class="chevron"></div>
                        <div class="chevron"></div>
                        <div class="chevron"></div>
                    </a>
                </div>
            </div>

            <div class="row">

                <div class="col-md-4" id="start">
                    <div class="card bg-light mb-3">
                        <div class="card-header text-center">
                            1 cabine, <strong>78500&euro; / jour</strong>
                            <br>
                            <small>Pas encore noté</small>
                        </div>
                        <img src="https://lorempixel.com/1000/350/" alt="bateau" style="height: 200px; width: 100%; display: block;">
                        <div class="card-body">
                            <h4 class="card-title">
                                Magnifique bateau
                            </h4>
                            <p class="card-tex">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis culpa eaque inventore maxime nulla, praesentium.
                                Ad atque dolore facere ipsum!
                            </p>
                            <a href="#" class="btn btn-secondary">En savoir plus</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-light mb-3">
                        <div class="card-header text-center">3 cabines , <strong>25150&euro; / jour</strong>
                            <br>
                            <small>Pas encore noté</small>
                        </div>
                        <img src="https://lorempixel.com/1000/400/" alt="bateau" style="height: 200px; width: 100%; display: block;">
                        <div class="card-body">
                            <h4 class="card-title">
                                Magnifique bateau
                            </h4>
                            <p class="card-tex">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis culpa eaque inventore maxime nulla, praesentium.
                                Ad atque dolore facere ipsum!
                            </p>
                            <a href="#" class="btn btn-secondary">En savoir plus</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-light mb-3">
                        <div class="card-header text-center">
                            7 cabines, <strong>111500&euro; / jour</strong>
                            <br>
                            <small>Pas encore noté</small>
                        </div>
                        <img src="https://lorempixel.com/1000/400/" alt="bateau" style="height: 200px; width: 100%; display: block;">
                        <div class="card-body">
                            <h4 class="card-title">
                                Magnifique bateau
                            </h4>
                            <p class="card-tex">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis culpa eaque inventore maxime nulla, praesentium.
                                Ad atque dolore facere ipsum!
                            </p>
                            <a href="#" class="btn btn-secondary">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>

            <h2 class="h1 mt-3 mb-4"><strong>Nos propriétaires stars</strong></h2>

            <div class="row">

                <div class="col">
                    <div class="card border-secondary mb-3">
                        <div class="card-body">
                            <h4 class="card-title">Jacque Levasseur</h4>
                            <hr>
                            <div class="card-text">
                                <img src="https://randomuser.me/api/portraits/men/83.jpg" alt="Avatar de Legrand" class="float-left mr-3">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, ipsum.</p>
                                <a href="#" class="btn btn-success float-right">En savoir plus</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-secondary mb-3">
                        <div class="card-body">
                            <h4 class="card-title">Jean Dubois</h4>
                            <hr>
                            <div class="card-text">
                                <img src="https://randomuser.me/api/portraits/men/31.jpg" alt="Avatar de Legrand" class="float-left mr-3">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, ipsum.</p>
                                <a href="#" class="btn btn-success float-right">En savoir plus</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-secondary mb-3">
                        <div class="card-body">
                            <h4 class="card-title">Pierre Legrand</h4>
                            <hr>
                            <div class="card-text">
                                <img src="https://randomuser.me/api/portraits/men/56.jpg" alt="Avatar de Legrand" class="float-left mr-3">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, ipsum.</p>
                                <a href="#" class="btn btn-success float-right">En savoir plus</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    {% endblock %}

    {% block javascripts %}

        <script src="{{ asset('build/js/scrollDown.js') }}"></script>

    {% endblock %}
