<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Weather map</title>
    <link rel="stylesheet" href="{{ asset('build/css/weatherMap.css') }}">

</head>

<body class='body'>

<div class='content'>

    <header class='header'>
        <div class='menu menu__btn menu--loc'></div>
        <h1 class='h1'>Météo actuelle pour votre position</h1>
    </header>

    <div> <a href="{{ path('homepage') }}" type='text' class='menu menu__btn return mt-5'>Retour à l'accueil</a></div>

    <div class='row col992px'>
        <div class='temp'></div>
        <div class='name'></div>
        <div class='icon'></div>
    </div>
</div>

<form onsubmit='return false' class='menu row row__menu'>
    <input type='text' class='menu menu__city' placeholder='Nom de ville'></input>
    <div type='button' class='menu menu__btn menu--search'>Rechercher</div>
</form>

</div>

<script src="{{ asset('build/js/weatherMap.js') }}"></script>

</body>
</html>

